.skincontent{
    
    margin:5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat();
    grid-row-gap: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #022636;
    position:absolute;
    flex-wrap: wrap;
    top:10vh;
    height: fit-content;
    width:90%; 
}
.champbox{
    width: 260px;
    height: 350px;
    background-color: chartreuse;
}
.picture{
    display: block;
    width: 260px;
    height:300px;
}
.champname{
    text-align: left;
    display: block;
    width:260px;
    height:50px;
    transition: 0.5s;
    overflow: visible;
    background-color: #023036;
}
.textstyle{
    margin: 5%;
    font-family: fantasy;
    letter-spacing: 0.3em;
    font-size: 30px;
    margin-top: 20px;
}
.champbox:hover{
  
}
    
