.skincontent{
    
    margin:5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat();
    grid-row-gap: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #022636;
    position:absolute;
    flex-wrap: wrap;
    top:10vh;
    height: fit-content;
    width:90%; 
}




